<article>
	<h2>
		Welcome!
	</h2>
	
	<p>
		This site is under construction.<br /><br />
		News updates can be on Twitter or Facebook by clicking the links in the navigation.<br /><br />
		<img src="/images/tux.png" alt="Exit Status One Penguin Mascot!">
	</p>
</article>
